@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@layer components {
  .tooltip {
    @apply invisible absolute -top-10 left-1/2 -translate-x-1/2 
    px-2 py-1 rounded bg-gray-900 
    text-white text-sm whitespace-nowrap
    group-hover:visible;
  }

  .tooltip:after {
    content: "";
    @apply absolute top-full left-1/2 -translate-x-1/2
    border-4 border-transparent border-t-gray-900;
  }
}

body {
  background-color: #f1ebe2;
}

body {
  font-family: "Antic Didone", serif;
}

@layer utilities {
  .text-h1 {
    @apply text-[3em] uppercase tracking-wide;
  }
  .text-h2 {
    @apply text-[2em] uppercase tracking-wide;
  }
  .text-h3 {
    @apply text-[1.5em];
  }
  .text-h4 {
    @apply text-[1em];
  }
  .text-p {
    @apply text-[1.3em] leading-relaxed;
  }
}
