@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@layer components {
  .tooltip {
    @apply invisible absolute -top-10 left-1/2 -translate-x-1/2 
    px-2 py-1 rounded bg-gray-900 dark:bg-gray-700 
    text-white text-sm whitespace-nowrap
    group-hover:visible;
  }

  .tooltip:after {
    content: "";
    @apply absolute top-full left-1/2 -translate-x-1/2
    border-4 border-transparent border-t-gray-900 
    dark:border-t-gray-700;
  }
}
